/******************/
/* CSS variables */
/****************/

:root{

    /* Title font size */
    --min-title-size:32px;
    --max-title-size:52px;

    /* Subtitle font size */
    --min-subtitle-size:35px;
    --max-subtitle-size:70px;

    /* paragraph font size */
    --min-paragraph-size:16px;
    --max-paragraph-size:20px;

    /* section font size */
    --min-section-link-size:15px;
    --max-section-link-size:20px;

    /* store icon font size */
    --min-store-icon-size:45px;
    --max-store-icon-size:60px;

    /* subsubtitle font size */
    --min-footer-text-size:12px;
    --max-footer-text-size:18px;


}   


/********************************/
/* General Styles Mobile First */
/******************************/

body{
    background-color: #001533;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

.hidden{
    display: none;
}

.construction-image{
    border-radius: 100%;
    display: block;
    margin: 75px auto 25px auto;
    width: 80%;
}

/******************/
/* Navbar styles */
/****************/

.navbar-container{
    box-shadow: 1px 1px 3px black;
    background-color: #001533;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    height: fit-content;
    width: 100%;
}

.logo-image{
    width: auto;
    height: 25px;
    margin-left: 10px;

}

.list-sections-container{
    background-color: #001533;
    width: 100vw;
    position: fixed;
    top: 50px;
    transform: translate(-100vw, 0px);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    height: calc(100vh - 50px);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    align-items: center;
}

.show-table-menu{
    transform: translate(0, 0);
}

.list-sections-container li {
    height: fit-content;
}

.section-link{
    display: block;
    border: 0;
    color: white;
    padding: 20px;  
    text-decoration: none;
}

.current-section{
    color: #C5F284;
}


/****************/
/* Burger menu */
/**************/

.burger-menu-button{
    background-color: transparent;
    outline: none;
    display: block;
    border-width: 0;
    width: auto;
    height: 50px;
    cursor: pointer;
    margin-right: 5px;
}

.burger-bar{
    height: 4px;
    width: 45px;
    background-color: white;
    box-shadow: 1px 1px 3px #808080cf;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.line-medium{
    margin: 8px 0 8px 0;
}

.hidden-line{
    opacity: 0;
}

.line-top-rotation{
    transform: rotate(-45deg) translate(-7px, 10px);
}

.line-bottom-rotation{
    transform: rotate(45deg) translate(-7px, -10px);
}

.store-container-burger-menu{
    margin: 2.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/***********/
/* Banner */
/*********/

.header-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 50px);
    flex-wrap: wrap;
    background: linear-gradient(30deg, #001533, #005C80);
}

.banner-image{
    width: 75%;
}

.header-container section{
    margin: 0 2% 0 2%;
}

.title-text{
    margin-top: 0;
    color: #C5F284;
    text-align: center;
}

.store-container{
    display: flex;
    justify-content: space-evenly;
}

.store-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0 9px;
}

.store-link-text{
    padding: 5% 0;
}


/*****************/
/* Main content */
/***************/

.subtitle-text{
    text-align: center;
    color: white;
    padding: 0 2.5%;
}

.section-container{
    height: calc(100vh - 50px);
    display: flex;
    justify-content: space-evenly;
    align-items: self-end;
    flex-wrap: wrap;
}


.blue-midnight{
    color: #001533;
}

.section-container:nth-child(1){
    background: linear-gradient(30deg, #00A2CC, #63CAA8);
}

.section-container:nth-child(2){
    background: linear-gradient(30deg, #63CAA8, #C5F284);
}

.section-container:nth-child(3){
    background: linear-gradient(30deg, #005C80, #00A2CC);
}

.section-container:nth-child(4){
    background: linear-gradient(30deg, #005C80, #63CAA8);
}

.section-image{
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
    padding-top: 4%;
    margin: 0 4% 0 4%;
}

.article-container{
    background-color: white;
}

.paragraph-text{
    text-align: justify;
    padding: 2.5% 2.5% 0 2.5%;
    margin:0;
    color: #001533;
}

.link-text{
    display: block;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #005C80;
    width: fit-content;
    margin: auto;
    padding: 2.5%;
    font-weight: 600;

}


/********************/
/* Footer content */
/******************/

.footer-container{
    background-color: #001533;
    color: white;
    padding: 15px 0 20px 0;
}

.social-container{
    width: fit-content;
    margin: 15px auto;
}

.social-subsubtitle{
    font-size: 20px !important;
    color:#C5F284;
}

.footer-social-link{
    border: none;
    margin: 0 15px;
}

.footer-social-link i{
    color: white;
    font-size: xx-large;
}

.footer-container p {
    margin:5px;
    text-align: center;

}

.footer-link{
    text-align: center;
    text-decoration: none;
    color: white;
}


/********************/
/* Responsive text */
/******************/

/* sintax  linear responsive text [min font size + (max font size - min font size) * ((viewport width - min viewport width) / (max viewport width - min viewport width))] */


.fluid-font-title{
    font-size: var(--min-title-size)
}

.fluid-font-subtitle{
    font-size: var(--min-subtitle-size)
}

.fluid-font-paragraph{
    font-size: var(--min-paragraph-size)
}

.fluid-font-section-link{
    font-size: 22.5px
}

.fluid-font-store-icon{
    font-size: var(--min-store-icon-size)
}

.fluid-font-footer-text{
    font-size: var(--min-footer-text-size);
}

/* Scren with a width equal or bigger than 320px  */
@media screen and (min-width: 320px) {

    .fluid-font-title{
        font-size: calc(var(--min-title-size) + 20 * ((100vw - 320px) / 1600)) ;
    }

    .fluid-font-subtitle{
        font-size: calc(var(--min-subtitle-size)  + 35 * ((100vw - 320px) / 1600)) ;
    }

    .fluid-font-paragraph{
        font-size: calc(var(--min-paragraph-size)  + 4 * ((100vw - 320px) / 1600)) ;
    }

    .fluid-font-store-icon{
        font-size: calc(var(--min-store-icon-size) + 15 * ((100vw - 320px) / 1600)) ;
    }

    .fluid-font-footer-text{
        font-size: calc(var(--min-footer-text-size) + 6 * ((100vw - 320px) / 1600)) ;
    }

}


/* Scren with a width equal or bigger than 1920px  */
@media screen and (min-width: 1920px) {

    .fluid-font-title{
        font-size: var(--max-title-size);
    }

    .fluid-font-subtitle{
        font-size: var(--max-subtitle-size)
    }

    .fluid-font-paragraph{
        font-size: var(--max-paragraph-size)
    }
    
    .fluid-font-section-link{
        font-size: var(--max-section-link-size)
    }

    .fluid-font-store-icon{
        font-size: var(--max-store-icon-size)
    }

    .fluid-font-footer-text{
        font-size: var(--max-footer-text-size);
    }

}


@media screen and (min-width: 820px) {

    .fluid-font-section-link{
        font-size: calc(var(--min-section-link-size) + 5 * ((100vw - 768px) / 1152)) ;
    }

    .construction-image{
        width: 35%;
    }

}

/**********************/
/* Responsive design */
/********************/



/********************************************/
/* Desktop and tablet and mobile landscape */
/******************************************/

@media (min-width:420px) and (orientation:landscape){

    .banner-image{
        display: block;
        margin: 0;
        width: 35%;
    }

    .header-container{
        flex-wrap: nowrap;
    }

    .section-container{
        height: calc(100vw - 50px);
    }

    .section-image{
        width: 30%;
    }

}

/***********************/
/* Desktop and tablet */
/*********************/

@media (min-height:420px) and (min-width: 769px){
    
    .list-sections-container{
        width: auto;
        position: static;
        transform: translate(0,0);
        display: flex;
        list-style-type: none;
        padding-inline-start: 0;
        margin: 0;
        height: 50px;
    }

    .section-link{
        padding: 11px 11px;
    }

    .burger-menu-button{
        display: none;
    }

    .header-container{
        flex-wrap: nowrap;
        justify-content: center;
    }

    .header-container section{
        margin: 0;
    }

    .banner-image{
        width: 35%;
        margin: 0 15% 0 0;
    }

    .store-container-burger-menu{
        display: none;
    }

    .figure-container{
        margin: 0 0 0 2.5%;
    }

    .section-image{
        margin: 0 4% 0 4%;
        width: 30%;
    }

    .order-two{
        order: 2 ;
    }

    .section-container{
        flex-wrap: nowrap;
        align-items: center;
        height: calc(100vh - 50px);
    }

    .subsection-container{
        margin: 0 4%;
    }

    
}

